In [15]:
from sqlalchemy import create_engine
import pandas as pd

In [16]:
engine = create_engine('mysql+pymysql://root:password@127.0.0.1:3306/dwh_sales')
conn = engine.connect()

In [18]:
query = '''
    SELECT 
        s.SupplierID,
        s.SupplierLocation,
        
        sh.ShipperID,
        sh.ShippingMethod,

        p.ProductID,
        p.ProductName,
        p.ProductCategory,
        p.ProductSubCategory,
        p.ProductPrice,

        c.CustomerID,
        c.CustomerSegment,

        d.DateID,
        d.Annee,
        d.Mois,
        d.Jour,

        f.id,
        f.QuantitySold,
        f.TotalAmount,
        f.DiscountAmount,
        f.NetAmount,

        fs.id,
        fs.StockReceived,
        fs.StockSold,
        fs.StockOnHand

    FROM
        FactVentes f
    JOIN
        Supplier s ON f.SupplierID = s.SupplierID
    JOIN
        Shipping sh ON f.ShipperID = sh.ShipperID
    JOIN
        Product p ON f.ProductID = p.ProductID
    JOIN
        Customer c ON f.CustomerID = c.CustomerID
    JOIN
        Date d ON f.DateID = d.DateID
    LEFT JOIN
        FactStock fs ON p.ProductID = fs.ProductID AND f.DateID = fs.DateID
    ;
'''

df = pd.read_sql_query(query, conn)
df.dropna()

,SupplierID,SupplierLocation,ShipperID,ShippingMethod,ProductID,ProductName,ProductCategory,ProductSubCategory,ProductPrice,CustomerID,...,Jour,id,QuantitySold,TotalAmount,DiscountAmount,NetAmount,id,StockReceived,StockSold,StockOnHand
0,1,Irwinhaven,1,Ground,1,Nathaniel,Electronics,Camera,652.35,1,...,14.0,1,49,31965.2,121.07,31844.1,1,475,127,348
1,1,Irwinhaven,1,Ground,1,Nathaniel,Electronics,Camera,652.35,1,...,14.0,1,49,31965.2,121.07,31844.1,2291,165,28,137
2,4,West Denise,18,Sea,22,Cynthia,Electronics,Headphones,872.85,1411,...,14.0,1435,27,23566.9,237.47,23329.5,1435,399,36,363
3,10,Alexandrachester,7,Ground,4,Amy,Home & Garden,Decor,364.01,2070,...,14.0,2106,62,22568.6,63.20,22505.4,2106,124,115,9
4,13,West Lindafurt,11,Sea,32,NonExistentProduct,Books,Non-fiction,642.11,2240,...,14.0,2277,63,40452.9,52.63,40400.3,2277,180,138,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6038,2,Calderonchester,16,Air,20,Angela,Toys,Action Figures,386.57,4542,...,28.0,4683,33,12756.8,61.42,12695.4,4683,339,4,335
6042,5,Lawsontown,15,Air,30,Tammy,Home & Garden,Furniture,431.82,4631,...,4.0,4775,66,28500.1,47.53,28452.6,4775,494,268,226
6047,16,Lake Juanland,13,Ground,30,Tammy,Home & Garden,Furniture,431.82,4732,...,10.0,4878,93,40159.3,105.05,40054.2,4878,72,61,11
6049,19,Popeport,14,Ground,16,Pamela,Electronics,Headphones,651.11,4763,...,7.0,4911,30,19533.3,118.82,19414.5,4911,480,287,193
6051,18,South Lindatown,8,Air,20,Angela,Toys,Action Figures,386.57,4831,...,5.0,4984,63,24353.9,86.64,24267.3,4984,164,73,91

In [19]:
df.to_csv('data/data_export.csv')